.form {
    width: 420px;
    margin-bottom: 24px;
    padding: 42px;
    border-radius: 12px;
    border: 1px solid var(--border);
    box-shadow: 0 0 5px rgba(255, 254, 254, 0.2); 
}

@media only screen and (max-width: 767px) {
    .form {
        width: 320px;
        padding: 24px;
    }
}